.navigation {
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 40px 15px 40px;
}
@media screen and (max-width: 1024px) {
.navigation {
  padding: 22px 40px 10px 40px;
}
}
@media screen and (max-width: 480px) {
.navigation {
  padding: 16px 16px 0 16px;
}
}