@import url('./__avatar/about__avatar.css');
@import url('./__title/about__title.css');
@import url('./__description/about__description.css');

.about {
  display: flex;
  flex-direction: column;
  background: #FFF;
}