.navigation__link_logo {
  margin: 0;
  font-family: RobotoSlab;
  font-weight: 600;
}
.navigation__link_logo:hover {
  box-sizing: border-box;
  border-bottom: none;
}

@media screen and (max-width: 1024px) {
.navigation__link_logo {
  font-size: 20px;
}
}

@media screen and (max-width: 480px) {
.navigation__link_logo {
  font-size: 16px;
}
}