.results__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
.results__header {
  padding: 0 40px;
}
}

@media screen and (max-width: 480px) {
.results__header {
  padding: 0 16px;
  flex-direction: column;
}
}