.header__title {
  max-width: 385px;
  margin: 30px auto 16px 0;
  font-family: RobotoSlab;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #FFF;
}

@media screen and (max-width: 768px) {
.header__title {
  margin-top: 40px;
}
}

@media screen and (max-width: 480px) {
.header__title {
  margin-top: 30px;
 }
}