@import url('../__link/navigation__link.css');
@import url('../__list/navigation__list.css');
@import url('../__link/_logo/navigation__link_logo.css');

.navigation__container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 180px;
}

@media screen and (max-width: 480px) {
.navigation__container {
  width: 150px;
}
}