.navigation__link {
  display: block;
  line-height: 56px;
  color: #FFF;
  text-decoration: none;
  margin: auto 0;
  font-family: Roboto;
}
.navigation__link:hover {
  box-sizing: border-box;
  border-bottom: solid 2px #FFF;
}

@media screen and (max-width: 1024px) {
.navigation__link {
  font-size: 18px;
}
}

@media screen and (max-width: 480px) {
.navigation__link {
  font-size: 16px;
}
}