.results__card-sourse {
  margin: 0;
  padding: 0 24px 24px 24px;
  font-family: RobotoSlab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
}
@media screen and (max-width: 1024px) {
.results__card-sourse {
  padding: 0 16px 20px 16px;
}
}