.results__card-decscripton {
  margin: 0 24px 18px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
}
@media screen and (max-width: 1024px) {
.results__card-decscripton {
  margin: 0 16px 5px 16px;
}
}