.commits__button {
  margin: 24px auto 32px auto;
  display: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #1A1B22;
}

.commits__button:hover {
  background: #fff;
  opacity: 0.9;
}
@media screen and (max-width: 480px) {
.commits__button {
  display: block;
}
}