.about__avatar {
  margin: 32px auto 24px auto;
  width: 272px;
  height: 272px;
  background-image: url('../../../images/avatar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1000px;
}