.about__avatar {
  margin: 60px 56px 60px auto;
  width: 464px;
  height: 464px;
  border-radius: 1000px;
}
@media screen and (max-width: 1170px) {
.about__avatar {
  margin: 60px 32px 60px auto;
  width: 232px;
  height: 232px;
}
}
@media screen and (max-width: 500px) {
.about__avatar {
  padding: 0;
  margin: 32px auto 24px auto;
  width: 272px;
  height: 272px;
}
}