.results__card-date {
  margin: 20px auto 12px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
}
@media screen and (max-width: 1024px) {
.results__card-date {
  margin: 16px auto 16px 16px;
}
}